/* 三條槓樣式 */
.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100; /* 確保在最前面 */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #646cff;
  transition: 0.3s;
}

/* 側邊欄本體 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #1a1a1a;
  z-index: 99;
  padding: 80px 20px;
  /* 初始狀態藏在左邊外面 */
  transform: translateX(-100%); 
  transition: transform 0.4s ease-in-out;
}

.sidebar.active {
  transform: translateX(0); /* 激活時滑入 */
}

.logo{
  font-size: 24px;
  color :aqua
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  padding: 15px 0;
  color: rgb(254, 255, 255);
  cursor: pointer;
  font-size: 1.2rem;
  border-bottom: 1px solid #333;
}

.nav-links li:hover {
  color: #646cff;
}

/* 遮罩層：讓背景變暗 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 98;
}